<!doctype html>
<html lang="en">
  {% include 'routes/includes/head.html' %}
  <body class="d-flex flex-column">
    <div class="page page-center">
      <div class="container container-tight py-4">
        <div class="text-center mb-4">
          <a href="." class="navbar-brand navbar-brand-autodark"
            ><img src="./static/logo.svg" height="36" alt=""
          /></a>
        </div>
        <div class="card card-md">
          <div class="card-body">
            <h2 class="h2 text-center mb-4">Login dulu, yuk!</h2>

            {% with messages = get_flashed_messages(with_categories=true) %}{% if messages %}
              {% for category, message in messages %}
                <div
                  class="alert alert-{{ category }} alert-dismissible"
                  role="alert"
                >
                  <h4 class="alert-title">{{ message }}</h4>
                  <a
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="close"
                  ></a>
                </div>
              {% endfor %}
            {% endif %}{% endwith %}

            <form
              action="{{ url_for('routes_auth.process_login' ) }}"
              method="post"
            >
              <div class="mb-3">
                <label class="form-label">Nomor Induk Siswa (NIS)</label>
                <input
                  type="number"
                  name="nis"
                  class="form-control"
                  placeholder="12345"
                  required
                />
              </div>
              <div class="form-footer">
                <button type="submit" class="btn btn-primary w-100">
                  Login
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Libs JS -->
    <script
      src="{{ url_for('static', filename='js/tabler.js' ) }}"
      defer
    ></script>
  </body>
</html>
